.form-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.form-label {
    margin-bottom: 10px;
    font-weight: bold;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #48a759;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #3d9a75;
}


.formm h1{
    color: red;
    text-align:center;
    font-size: 3rem;
    position: relative;
   right: 1rem;
    padding: 4rem;
}